// ------------------------------------
// Sass Style
// ------------------------------------
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  //font-family: Menlo, "Ubuntu Mono", Consolas, "Courier New", "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

#__nuxt, #__layout, #__layout>div {
  height: inherit;
}

h1 {
  margin: auto;
}

a {
  text-decoration: none;
  outline: none;
}



.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-active {
  opacity: 0
}

.page-enter-active {
  animation: bounce-in .8s;
}
.page-leave-active {
  animation: bounce-out .5s;
}
@keyframes bounce-in {
  0% { transform: scale(0.8); opacity: 0; }
  //50% { transform: scale(1.5) }
  100% { transform: scale(1); opacity: 1; }
}
@keyframes bounce-out {
  0% { transform: scale(1); opacity: 1; }
  //50% { transform: scale(1.5) }
  100% { transform: scale(0.8); opacity: 0; }
}