// ------------------------------------
// Sass Style
// ------------------------------------
.security-container {
  padding: 0 30px;
  font-family: Lantinghei;
  color: #444242;
  max-width: 960px;
  margin: auto;
  position: relative;

  .panel {
    //min-height: 180px;

    .panel-body {
      display: flex;
      justify-content: space-between;
      //align-items: center;
      min-height: 100px;
      padding: 44px 30px;

      .panel-content {
        padding: 0 20px 0 0;

        h4 {
          height: 26px;
          margin: 0 0 20px;
          line-height: 26px;
          font-size: 18px;
          font-weight: 400;

          i {
            font-size: 20px;

            &.success {
              color: #4CAF50;
            }

            &.info {
              color: #ffc107;
            }

            &.warning {
              color: #FF5722;
            }
          }

          &+p {
            margin-top: 20px;
          }

          &:not(:first-child) {
            margin-top: 20px;
            font-size: 1.2em;
          }
        }

        p {
          color: #747474;
          line-height: 1.8;
          margin: 0 ;
        }

        .row-inline {
          list-style: none;
          display: flex;
          padding: 0;

          &>li {
            margin: 0 30px 10px 0!important;
            color: #747474;

            &:before {
              width: 8px;
              height: 8px;
              background-color: #52acd9;
              color: #52acd9;
              display: inline-block;
              border-radius: 50%;
              margin-right: 5px;
              content: '';
            }
          }
        }
      }

      .panel-sidebar {
        display: flex;
        align-items: flex-end;
        padding: 0 30px 30px 0;

        .el-button {
          border-radius: 0;
        }
      }
    }
    
    &:not(:last-child) {
      border-bottom: 1px solid #ecedf1;
    }
  }
  
  .el-steps {
    margin-top: 80px;
  }

  .main-content {
    margin: auto;
    margin-top: 80px;

    p {
      margin: auto;
      width: 600px;
      border-bottom: 1px solid rgb(153, 153, 153);

      span {
        margin-left: 20px;
      }
    }

    .el-form {
      margin: 40px auto auto;
      width: 600px;

      .el-form-item {
        margin-bottom: 28px;
      }

      .el-form-item__label {
        //font-size: 13px;
        padding-right: 20px;
        color: #777;
      }

      .el-input__inner {
        border-radius: 0;
      }

      .el-button--primary {
        border-radius: 0;
        width: 150px;
      }
    }

    .footer {
      margin: auto;
      border-top: 1px dashed #e8e8e8;
      width: 600px;
      margin-top: 50px;
      padding: 15px 60px 0;

      h2 {
        font-size: 15px;
        margin-bottom: 16px;
      }

      p {
        line-height: 1.8;
        margin-left: 20px;
        border-bottom: 0;
        width: auto;
      }
    }

    .result {
      margin: 0 auto;
      text-align: center;

      i {
        color: #52c41a;
        font-size: 72px;
        line-height: 72px;
        margin-bottom: 24px;
      }

      h2 {
        font-size: 24px;
      }

      p {
        border-bottom: 0;
      }
    }
  }

  .close_content {
    position: absolute;
    top: -40px;
    right: 0;
    font-size: 24px;

    i {
      cursor: pointer;

      &:hover {
        color: #52acd9;
      }
    }
  }
}