// ------------------------------------
// Sass Style
// ------------------------------------
@import './setting.sass';

.account-page {
  margin: 0 auto;
  padding-top: 80px;

  .landing-activity {
    margin: 0 auto;
    width: 480px;
    float: left;
    margin-left: 100px;
    margin-top: 130px;

    .main-title {
      font-size: 32px;
      color: rgba(254,254,254,1);
      text-shadow: 0px 4px 79px rgba(0, 0, 0, 0.18);
      margin: 0;
    }

    .secondary-title {
      font-size: 16px;
      color: rgba(254,254,254,1);
      text-shadow: 0px 4px 79px rgba(0, 0, 0, 0.18);
      margin: 30px 0 0;
    }
  }

  .landing-body {
    margin: 0 auto;
    margin-top: $page-margin-top;
    max-width: $page-max-width;
    width: $page-width;
    background-color: $page-background-color;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 20px;

  }

  h3 {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 24px;
    color: rgba(106,106,106,1);
  }

  h5 {
    text-align: center;
    font-size: 18px;
    color: #747474;
    margin: 0;
  }

  p {
    margin: 8px 0;
  }

  .content {
    margin: 10px 34px;
    border-top: 1px rgba(0,0,0,0.13) solid;
    color: #747474;
    font-size: 14px;
    padding: 10px 0;

    a {
      color: #25A9E8;
      font-weight: normal;

      &.el-button--primary {
        color: #ffffff;
      }
    }
  }

  .codeSent-info {
    margin-bottom: 20px;
    padding: 15px 0;
    text-align: center;
    border: 1px solid #d1dbe5;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;

    p {
      color: #747474;

      a {
        color: #00aff8;
      }
    }
  }

  form {
    padding: 10px 34px;

    .el-form-item {
      margin-bottom: 12px;
    }

    .el-form-item__label {
      padding: 0;
    }

    .el-input__inner {
      border-radius: 0;
      //border-width: 0 0 1px 0;
    }

    .el-form-item__error {
      position: inherit;
    }

    .el-button--primary {
      width: 100%;
      border-radius: 0;
      margin-top: 8px;
      font-size: 16px;
    }
  }

  .service-terms {
    color: #747474;
    font-size: 14px;

    a {
      color: #25A9E8;
      font-weight: normal;
    }

    .ng-hide {
      float: right;
    }
  }
}

@media (max-width: 640px) {
  .account-page {
    margin-top: $page-mobile-margin-top;
    padding-top: 0;

    .landing-activity {
      display: none;
    }

    .landing-body {
      margin-top: 0;
    }
  }
}